.co-traveller-section .section-title {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .co-traveller-section .subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;

  }
  
  .co-traveller-section .description {
    font-size: 1.1rem;
    max-width: 900px;
    margin: 0 auto 30px;
    line-height: 1.7;
    color: #555;
  }
  
  .image-wrap {
    text-align: center;
  }
  

  .image-wrap {
    position: relative;
    display: inline-block;
  }
  
  .styled-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    border-radius: 8px;
  }
  
  
  .image-title {
    font-family: 'Dancing Script', cursive;
  font-weight: bold;
    font-size: 1.3rem;
    margin-top: 15px;

  }
  