.packages_left_Section_1 {
    font-size: 3rem;
    color: #8c52ff;
}
.packages_Subheading{
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
    padding-right: 10em;
    font-weight: 700;
    
}
  
  .inner-text {
    line-height: 1.2;
  }
  